doctype xml
response
    outputSpeech
        type SSML
        ssml <![CDATA[!{response.speech.ssml}]]>
    reprompt
        outputSpeech
            type SSML
            ssml <![CDATA[!{response.reprompt.ssml}]]>
    card
        type Simple
        title !{response.card.title}
        content !{response.card.text}
    shouldEndSession !{endsSession}
